@import "bootstrap/css/bootstrap.min.css";
@import "bootstrap/css/market.less";
.guide {
  background-image: url('../image/feimao/guide_bg.png');
  background-color: #bfc0c7;
  background-position: top center;
  background-repeat: no-repeat;
  height: 768px;
  width: 100%;
}
.guide .guide-blank {
  height: 430px;
}
.guide .guide-btn-group {
  margin-left: 55%;
}
.guide .guide-btn-group .register-button {
  background-image: url('../image/feimao/register_button.png');
  width: 168px;
  height: 48px;
  float: left;
  display: block;
}
.guide .guide-btn-group .home-button {
  width: 168px;
  height: 48px;
  background-image: url('../image/feimao/home_button.png');
  float: left;
  display: block;
}
.fm-contents {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}
.print-type-menu {
  height: 41px;
  margin-top: 20px;
  border-bottom: solid 2px #499eff;
}
.print-type-menu .type-single {
  cursor: pointer;
  float: left;
  width: 133px;
  height: 41px;
  font-size: 16px;
  line-height: 41px;
  text-align: center;
  background-image: url('../image/feimao/feimao_home.png');
  background-position: -14px -72px;
  color: #499eff;
  font-weight: bold;
}
.print-type-menu .type-single.active {
  background-position: -14px -9px;
  color: #fff;
}
.print-type .type-content {
  text-align: center;
}
.print-type .type-content ul {
  width: 700px;
  height: auto;
  overflow: hidden;
  margin: 60px auto;
  padding: 0;
}
.print-type .type-content ul li {
  background-image: url('../image/feimao/feimao_home.png');
  background-position: -341px -6px;
  background-repeat: no-repeat;
  width: 303px;
  height: 247px;
  float: left;
  margin-left: 20px;
}
.print-type .type-content ul li .type-logo {
  width: 200px;
  background-image: url('../image/feimao/feimao_home.png');
  background-position: -18px -264px;
  background-repeat: no-repeat;
  margin: 50px auto 10px;
  width: 91px;
  height: 92px;
}
.print-type .type-content ul li .type-logo.company {
  background-position: -135px -264px;
}
.print-type .type-content ul li .type-user {
  background-image: url('../image/feimao/feimao_home.png');
  background-position: -15px -135px;
  width: 156px;
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.print-type .type-content ul li .type-user a {
  color: #fff;
  font-size: 14px;
}
.print-type .type-content ul li .type-name {
  width: 156px;
  font-size: 14px;
  line-height: 2;
  margin: 10px auto;
  text-align: center;
}
.item .item-head {
  height: auto;
  overflow: hidden;
  border-bottom: solid 2px #121212;
}
.item .item-head .item-title {
  margin: 0;
  background-image: url('../image/feimao/feimao_home.png');
  background-position: -15px -198px;
  width: 117px;
  height: 32px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
  color: #499eff;
}
.item .item-head .more {
  color: #fc8611;
  margin-right: 10px;
  margin-top: 8px;
}
.item ul.process-ul {
  height: auto;
  overflow: hidden;
  width: 100%;
  margin: 80px auto;
  padding: 0;
}
.item ul.process-ul li {
  float: left;
  margin-left: 50px;
}
.item ul.process-ul li .pointer {
  background-image: url('../image/feimao/feimao_home.png');
  background-position: -190px 0px;
  width: 47px;
  margin-top: 30px;
  height: 49px;
  overflow: hidden;
}
.item ul.process-ul li .process-item {
  background-image: url('../image/feimao/feimao_home.png');
  width: 100px;
  height: 110px;
  display: block;
}
.item ul.process-ul li .process-item.no-a {
  background-position: 0px 110px;
}
.item ul.process-ul li .process-item.no-b {
  background-position: -116px 110px;
}
.item ul.process-ul li .process-item.no-c {
  background-position: -238px 110px;
}
.item ul.process-ul li .process-item.no-d {
  background-position: -371px 110px;
}
.item ul.process-ul li .process-item.no-e {
  background-position: -500px 110px;
}
.item ul.product-ul {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0;
  margin: 30px auto;
}
.item ul.product-ul li {
  padding: 2px;
  border: solid 1px #499eff;
  float: left;
  width: 156px;
  margin: 10px 20px;
}
.item ul.product-ul li a img {
  border: none;
}
.padding-10 {
  padding: 10px;
}
.padding-20 {
  padding: 20px;
}
.border-step-gray {
  border: solid 1px #d6e4ef;
}
.fm-process .nav {
  height: 32px;
  line-height: 32px;
  background-color: #e6f1f7;
  border: solid 1px #499eff;
}
.fm-process .nav .title {
  height: 30px;
  width: 204px;
  color: #fff;
  padding-left: 20px;
  background-image: url('../image/feimao/process_one_step.png');
  background-position: 0px 0px;
}
.fm-process .nav .last-step {
  margin-right: 10px;
  color: #499eff;
}
.fm-process .step-content {
  height: auto;
  overflow: hidden;
}
.fm-process .step-content .first-step {
  background-image: url('../image/feimao/process_one_bg.png');
  background-position: -4px -10px;
  width: 242px;
  height: 355px;
  float: left;
  margin-left: 105px;
  padding: 20px;
  margin-top: 50px;
}
.fm-process .step-content .first-step .step-logo {
  background-image: url('../image/feimao/process_one_icon.png');
  width: 214px;
  height: 193px;
  margin: 1px auto;
}
.fm-process .step-content .first-step .step-logo.no-a {
  background-position: 0px 1px;
}
.fm-process .step-content .first-step .step-logo.no-b {
  background-position: 0px -412px;
}
.fm-process .step-content .first-step .step-logo.no-c {
  background-position: 0px -202px;
}
.fm-process .step-content .first-step .step-title {
  font-size: 16px;
  color: #499eff;
  font-weight: bold;
}
.fm-process .step-content .first-step .step-description {
  margin-top: 10px;
  font-size: 12px;
  height: 48px;
  overflow: hidden;
  line-height: 2;
}
.fm-process .step-content .first-step .step-button {
  background-image: url('../image/feimao/feimao_home.png');
  background-position: -15px -135px;
  width: 156px;
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.fm-process .step-content .first-step .step-button a {
  color: #fff;
  font-size: 14px;
}
ol,
ul {
  list-style: none outside none;
}
.header {
  height: 35px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: url(../image/jvf_common.png) repeat-x;
  height: 95px;
  font-family: Arial, sans-serif;
  font-size: 12px;
}
.header ul {
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0;
}
.header ul.top_menul {
  margin-bottom: 0px;
}
.header ul.top_menul li {
  display: inline;
  float: left;
  height: 35px;
  line-height: 35px;
  margin: 0 3px;
  _margin: 0 1px;
  color: #DDD;
}
.header ul.top_menul li a {
  overflow: hidden;
  padding-left: 20px;
  position: relative;
  color: #DDD;
}
.header ul.top_menul li a span {
  color: #84C01E;
  font-weight: bold;
  padding: 0 0 0 2px;
}
.header ul.top_menul li .left_mu5 a em {
  background-position: 0 -135px;
}
.header ul {
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0;
}
.header ul.top_menur {
  margin-bottom: 0px;
}
.header ul.top_menur li {
  display: inline;
  float: left;
  height: 35px;
  line-height: 35px;
  margin: 0 3px;
  _margin: 0 1px;
  color: #DDD;
}
.header ul.top_menur li.right_mu1 a {
  overflow: hidden;
  padding-left: 20px;
  position: relative;
}
.header ul.top_menur li a {
  overflow: hidden;
  padding-left: 20px;
  position: relative;
  color: #DDD;
}
.header ul.top_menur li a span {
  color: #84C01E;
  font-weight: bold;
  padding: 0 0 0 2px;
}
.header ul.top_menur li .left_mu5 a em {
  background-position: 0 -135px;
}
.header .header_top {
  width: 960px;
  margin: 0 auto;
}
.header .header_top ul li {
  display: inline;
  float: left;
  height: 35px;
  line-height: 35px;
  margin: 0 3px;
  _margin: 0 1px;
  color: #DDD;
}
.header .header_top ul li a {
  overflow: hidden;
  padding-left: 20px;
  position: relative;
  color: #DDD;
}
.header .header_top ul li a span {
  color: #84C01E;
  font-weight: bold;
  padding: 0 0 0 2px;
}
.header .header_top ul li.left_mu5 a em {
  background-position: 0 -135px;
}
.header .header_top ul li.header_top_mubg em {
  background: url(../image/jvf_index.png) no-repeat;
  height: 15px;
  width: 15px;
  position: absolute;
  left: 0;
  top: 0;
}
.header .header_con {
  margin: 0 auto;
  width: 1310px;
}
.header .header_con .header_logo {
  width: 140px;
}
.header .header_con .header_logo h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.header .header_con .header_logo h1 a {
  height: 50px;
  overflow: hidden;
  width: 140px;
}
.header .header_con .header_logo h1 a img {
  border: none;
}
.header .header_con .header_con_menu {
  margin-top: 15px;
}
.header .header_con .header_con_menu ul li {
  float: left;
  padding: 0 10px;
}
.header .header_con .header_con_menu ul li.menu_active a {
  background-position: 0 0;
}
.header .header_con .header_con_menu ul li a {
  background-image: url("../image/jvf_all.png");
  background-position: 74px 0;
  background-repeat: no-repeat;
  display: block;
  height: 36px;
  line-height: 29px;
  text-align: center;
  width: 74px;
  font-size: 13px;
  font-weight: bold;
  font-family: "微软雅黑";
  letter-spacing: 1px;
  color: #666;
  text-decoration: none;
}
.header .header_con .header_con_menu ul li a:hover {
  background-position: 0 0;
}
.clearfix {
  zoom: 1;
}
.clear {
  clear: both;
}
.jvf_fl {
  float: left;
  display: block;
}
.jvf_fr {
  float: right;
  display: block;
}
.fm-catalog {
  width: 1200px;
  height: auto;
  overflow: hidden;
  margin: 100px auto 0px;
  border: solid 1px #cdcdcd;
  line-height: 2;
}
.fm-catalog .bottom-line {
  border-bottom: solid 1px #cdcdcd;
}
.fm-catalog .fm-category {
  height: auto;
  overflow: hidden;
  padding: 20px;
}
.fm-catalog .fm-category .title {
  float: left;
  padding: 0 10px;
}
.fm-catalog .fm-category .sec-category {
  float: left;
}
.fm-catalog .fm-category .sec-category .category-type .type-title {
  float: left;
  padding: 0 10px;
  background-color: #499eff;
  border-radius: 2px;
  color: #fff;
}
.fm-catalog .fm-category .sec-category .category-type ul.list {
  margin: 0;
  float: left;
}
.fm-catalog .fm-category .sec-category .category-type ul.list li {
  float: left;
  margin: 0 10px;
}
.fm-catalog .fm-category .sec-category .category-type ul.list li a {
  font-size: 14px;
}
.fm-catalog .fm-price {
  margin: 20px;
}
.fm-catalog .fm-price .title {
  float: left;
  padding: 0 10px;
}
.fm-catalog .fm-price .sec-category {
  float: left;
}
.fm-market {
  width: 1200px;
  height: auto;
  overflow: hidden;
  margin: 20px auto;
  border: solid 1px #cdcdcd;
  line-height: 2;
}
.fm-market .mkt-title {
  height: 30px;
}
.fm-market .mkt-title ul.mkt-sort {
  margin: 0;
  padding: 0;
  height: auto;
  overflow: hidden;
  border-bottom: solid 1px #cdcdcd;
}
.fm-market .mkt-title ul.mkt-sort li {
  float: left;
  padding: 2px 20px;
  color: #121212;
  border-right: solid 1px #cdcdcd;
  cursor: pointer;
}
.fm-market .mkt-title ul.mkt-sort li.up-arrow {
  background-image: url('../image/feimao/fm-up.png');
  background-repeat: no-repeat;
  background-position: 51px 10px;
}
.fm-market .mkt-title ul.mkt-sort li.down-arrow {
  background-image: url('../image/feimao/fm-down.png');
  background-repeat: no-repeat;
  background-position: 51px 10px;
}
.fm-market .mkt-title ul.mkt-sort li a {
  color: #121212;
  font-size: 14px;
}
.fm-market .mkt-title ul.mkt-sort li a:hover {
  color: #499eff;
  text-decoration: none;
}
.fm-market ul.fm-product {
  margin: 0;
  padding: 0;
}
.fm-market ul.fm-product li {
  -moz-box-shadow: 0px 0px 5px #999;
  -webkit-box-shadow: 0px 0px 5px #999;
  box-shadow: 0px 0px 5px #999;
  padding: 10px;
  margin: 20px 12px;
  border: solid 1px #88c0ff;
  float: left;
  width: 212px;
  height: auto;
  overflow: hidden;
}
.fm-market ul.fm-product li img {
  width: 190px;
  height: 140px;
  border: none;
}
.fm-market ul.fm-product li .title {
  font-size: 12px;
  color: #666666;
  line-height: 2;
}
.fm-market ul.fm-product li .price {
  padding-right: 10px;
  border-bottom: solid 1px #cdcdcd;
}
.fm-market ul.fm-product li .price .curr-price {
  font-size: 18px;
  color: #499eff;
}
.fm-market ul.fm-product li .price .pre-price {
  float: right;
  font-size: 13px;
  color: #666;
  margin-top: 4px;
  text-decoration: line-through;
}
.fm-market ul.fm-product li .interactive {
  margin-top: 4px;
  height: auto;
  color: #666666;
}
.fm-market ul.fm-product li .interactive .favourite {
  display: block;
  float: left;
  background-image: url("../image/feimao/fm_star.png");
  background-repeat: no-repeat;
  background-position: 0 0px;
  width: 20px;
  height: 16px;
  cursor: pointer;
  margin: 2px 2px;
}
.fm-market ul.fm-product li .interactive .cart {
  display: block;
  float: left;
  background-image: url("../image/feimao/fm_cart.png");
  background-position: 0 0px;
  background-repeat: no-repeat;
  width: 20px;
  height: 16px;
  cursor: pointer;
  margin: 2px 2px;
}
.fm-market ul.fm-product li .interactive .comment {
  display: block;
  float: left;
  font-size: 12px;
  margin: 0 2px;
  width: 45px;
  height: 22px;
  text-align: center;
}
.fm-market ul.fm-product li .interactive .recommend {
  display: block;
  float: left;
  font-size: 12px;
  margin: 0 2px;
  width: 45px;
  height: 22px;
  text-align: center;
}
.fm-market ul.fm-product li .interactive .detail {
  display: block;
  float: left;
  font-size: 12px;
  width: 40px;
  height: 22px;
  text-align: center;
}
.banner-height {
  height: 95px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
